body {
    background-color: rgb(76, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    color: aliceblue;
    text-align: center;
}

section {
    background-color: aliceblue;
    border-radius: 30px;
    padding: 1em;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

footer {
    color: aliceblue;
    font: normal 16pt Arial;
    text-align: center;
    font-style: italic;
}

#res {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px; 
}
